<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Force" value="true"/>
    <add key="Persistent" value="false"/>
    <add key="LocalDrive" value="Z:"/>
    <add key="PromptForCred" value="false"/>
    <add key="ShareName" value="https://webdav.yandex.ru"/>
    <add key="SaveCredentials" value="false"/>
    <add key="UserName" value="superfinanci"/>
    <add key="Password" value="buxgalter"/>
    <add key="Source" value="H:\\ATI2016 v19.5620.iso"/>
    <add key="Destination" value="Z:\\ATI2016 v19.5620.iso"/>
  </appSettings>
</configuration>